@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p>Naučte se <a href="https://docs.microsoft.com/aspnet/core">tvořit webové aplikace s ASP.NET Core</a>.</p>
</div>
