@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}
<h1>@ViewData["Title"]</h1>

<p>Správa webu cteckarss.cz se zavazuje dodržovat zásady ochrany Vašich osobních údajů na 
    Internetu. Klademe velký důraz na ochranu poskytovaných údajů. Naše zásady ochrany 
    osobních údajů jsou založeny na ustanoveních Všeobecných předpisů pro ochranu 
    osobních údajů Evropské unie (GDPR). Účely, pro které shromažďujeme osobní údaje, 
    jsou tyto: zlepšení našich služeb, komunikace s návštěvníky tohoto webu, e-mailový 
    zpravodaj, poskytování informací, požadovaných uživatelem, poskytování služeb, 
    souvisejících se zaměřením činnosti předmětné webové stránky a také pro následující 
    úkony.</p>
