@model RSSReader2.Models.RSSFeed

@{
    ViewData["Title"] = "Smazat";
}

<h1>Smazat</h1>

<h3>Jste si jistý/á, že to chcete udělat?</h3>
<div>
    <h4>RSS feed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-file-x"></i> &nbsp; Smazat
        </button> 
        <a class="btn btn-secondary" asp-action="Index">
            <i class="bi bi-back"></i> &nbsp; Zpět na seznam feedů
        </a>
    </form>
</div>
