@model RSSReader2.Models.RSSFeed

@{
    ViewData["Title"] = "Detaily";
}

<h1>Detaily</h1>

<div>
    <h4>RSS feed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a> |
    <a asp-action="Index">Zpátky na seznam feedů</a>
</div>
