@model DateTime
<form asp-controller="RSSFeeds" asp-action="Articles" method="get">
    <p>
Od: @Html.TextBox("dateFrom", String.Format("{0:d}", Model.ToShortDateString()),
  new { @class = "datefield", type = "date" })  
Do: @Html.TextBox("dateTo", String.Format("{0:d}", Model.ToShortDateString()),
  new { @class = "datefield", type = "date" })
  <button class="btn btn-primary" type="submit" >
            <i class="bi bi-filter"></i> &nbsp; Filtrovat
  </button>
  </p>
</form>