@model DateTime
<form asp-controller="RSSFeeds" asp-action="Articles" method="get">
    <p>
Od: @Html.TextBox("dateFrom", String.Format("{0:d}", Model.ToShortDateString()),
  new { @class = "datefield", type = "date" })  
Do: @Html.TextBox("dateTo", String.Format("{0:d}", Model.ToShortDateString()),
  new { @class = "datefield", type = "date" })
  <input type="submit" value="Filtrovat" />
  </p>
</form>